:root {
    --ctp-ext-base: 240, 234, 226;
    --ctp-ext-text: 104, 88, 80;
    --footer-background-color: 205, 197, 193;
    --header-border-color: 212, 205, 200;
    --contact-btn-background-color: 186, 144, 123;
    --contact-btn-text-color: 104, 88, 80;
    --navbar-background-color: 222, 216, 209;
    --navbar-text-color: 104, 88, 80;
}

.dark-mode {
    --ctp-ext-base: 58, 56, 69;
    --ctp-ext-text: 250, 218, 195;
    --footer-background-color: 94, 84, 86;
    --header-border-color: 85, 77, 82;
    --contact-btn-background-color: 234, 159, 194;
    --contact-btn-text-color: 250, 218, 195;
    --navbar-background-color: 76, 70, 78;
    --navbar-text-color: 250, 218, 195;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(var(--ctp-ext-base), 0.9);
    color: rgb(var(--ctp-ext-text));
    transition: background-color 0.5s ease, color 0.5s ease;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(var(--navbar-background-color));
    padding: 20px 10px;
    border-bottom: 2px solid rgba(var(--header-border-color), 1);
    transition: background-color 0.5s ease;
}

header .info h1, header .info p {
    color: rgb(var(--ctp-ext-text));
    transition: color 0.5s ease;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    margin-left: 20px;
    animation: fadeIn 2s;
}

main {
    background-color: rgb(var(--ctp-ext-base));
    color: rgb(var(--ctp-ext-text));
    transition: background-color 0.5s ease, color 0.5s ease;
}

footer {
    background-color: rgb(var(--footer-background-color));
    text-align: center;
    padding: 10px;
    border-top: 2px solid rgba(var(--header-border-color), 1);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.5s ease;
}

.contact-btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: rgb(var(--contact-btn-background-color));
    color: rgb(var(--contact-btn-text-color));
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.contact-btn:hover {
    background-color: #303030;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(var(--navbar-background-color));
    transition: background-color 0.5s ease;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(var(--navbar-text-color));
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navbar li a:hover {
    background-color: #111;
}

.navbar li.active a {
    background-color: #111;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
